
$main-font: 'PT Sans', sans-serif;
$secondary-font: 'Open Sans Condensed';

$main-font-color:  #767676;
$second-font-color: #ffffff;
$accent-font-color: #010101;
$form-font-color: #535353;


$primary-color:    #dbdbdb;
$secondary-color: #dcdcdc;
$form-bg-color: #777777;