.company-description {
  padding-bottom: 200px;
}

.company-description__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.company-description__item {
  font-size: 14px;
  color: $main-font-color;
}
