.container__footer {
    // @include center-flex ('ver');
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px ;
}

.footer {
    background-color: #767676;
    color: #ffffff;
    padding: 54px 0;
    // display: flex;
    // min-height: 62px;
    // border-top: 1px solid rgb(229, 229, 229); 
}

.footer__container {
    justify-content: space-between;
    display: flex;
}

.footer__description {
        color: #ffffff;
        line-height: 1.571;   
}

.footer__link {
    display: block;
    color: #ffffff;
}

// .footer__navigation-item:not(:last-child) {
// margin-bottom: 16px;
// }


.footer__navigation-link {
    font-size: 14px;
    font-family: "Myriad Pro";
    color: #ffffff;
    text-decoration: underline;
    line-height: 1.857;
  }
  
  .footer__link-company {
    font-size: 14px;
    font-family: "Myriad Pro";
    color: #ffffff;
    text-decoration: underline;
    line-height: 1.571;
  }
  
  .footer__link-company + span {
    display: block;
    // text-decoration: none;
    font-size: 14px;
    font-family: "Myriad Pro";
    color: #ffffff;
    }

    .footer__company-wrap {
        padding-right: 50px;
        position: relative;

        &::before {
            position: absolute;
            left: -50px;
            top: 6px;
            display: block;
            content: " ";
            width: 36px;
            height: 38px;
            background-image: url(../../images/company.png);
        }
    }



    
      