.footer {
    background-color: $main-font-color;
    color: $second-font-color;
    padding: 54px 0;
}

.footer__container {
    justify-content: space-between;
    display: flex;
}

.footer__description {
        color: $second-font-color;
        line-height: 1.571;   
}

.footer__link {
    display: block;
    color: $second-font-color;
}

.footer__navigation-link {;
    color:$second-font-color;
    text-decoration: underline;
    line-height: 1.857;
  }
  
  .footer__link-company {
    color: $second-font-color;
    text-decoration: underline;
    line-height: 1.571;
  }
  
  .footer__link-company + span {
    display: block;
    color: $second-font-color;
    }

    .footer__company-wrap {
        padding-right: 50px;
        position: relative;

        &::before {
            position: absolute;
            left: -50px;
            top: 6px;
            display: block;
            content: " ";
            width: 36px;
            height: 38px;
            background-image: url(../images/company.png);
        }
    }



    
      