.Modal__backdrop {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: opacity 200ms linear;
  }

  .show-modal {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  .Modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    height: 580px;
    background-color: $second-font-color;
    border-radius: 3px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  .form {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
     width: 100%;
     padding-top: 36px;

     & > label:not(:nth-of-type(4)) {
         margin-bottom: 16px;
     }

     & > label:nth-of-type(4) {
         margin-bottom: 10px;
     }
  }

  
  .form__title {
    margin-bottom: 20px;
    font-size: 24px;
    color: $form-font-color;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .form__label{
  
    font-size: 14px;
    color: $form-font-color;
    text-align: center;
  }
  

  .form__input {
      margin-top: 4px;
      display: block;
      width: 340px;
      height: 40px;
      border: solid 1px #c3c3c3;
  }

  .form__input:invalid {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 131, 131);
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 13px 0px rgba(228, 106, 106, 0.75);
  }

  .form__input::placeholder {
   color: rgb(220, 127, 127);
  }
  
  .form__textarea {
  resize: none;
  margin-bottom: 22px;
  width: 342px;
  height: 140px;
  }

 
  .form__btn-submit {
    font-size: 22px;
    color: $second-font-color;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    background-color: $form-bg-color;
    padding: 14px;
  }

  .form__btn-close {
      position: absolute;
      top: 0;
      right: 0;
    width: 27px;
    height: 27px;
    background-image: url(../images/btn_close.png);
    background-color: $form-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(100%, -100%);
  }
  
  
  